@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "BringWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Static Navigation</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Static Navigation</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
            @using (Html.BeginForm("WriterUpdate", "AdminWriter", FormMethod.Post)) 
            {
                <div class="form-group">
                    @Html.HiddenFor(x => x.WriterId)
                    @Html.Label("Yazar Adı:")
                    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterName,"",new { @style="color:red"})
                    <br />
                    @Html.Label("Yazar Soyadı:")
                    @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterSurname,"",new { @style = "color:red" })
                    <br />
                    @Html.Label("Resim:")
                    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
                    <br />
                    @Html.Label("Mail Adresi:")
                    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                    <br />
                    @Html.Label("Yetkinlikler:")
                    @Html.TextBoxFor(x => x.WriterAbout, new {@class="form-control"})
                    <br/>
                    @Html.Label("Yazar Ünvan:")
                    @Html.TextBoxFor(x => x.WriterHeading, new {@class="form-control"})
                    <br/>
                    @Html.HiddenFor(x => x.WriterPassword)
                    <br />
                    <button class="btn btn-info">GÜNCELLE</button>
                </div>
            }
            </div>
        </div>
        <div style="height: 100vh"></div>
        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
    </div>
</main>

