@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "BringCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Static Navigation</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Static Navigation</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                @using (Html.BeginForm("CategoryUpdate", "AdminCategory", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CategoryId)
                        @Html.Label("Kategori Adı:")
                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryName)
                        <br />
                        @Html.Label("Kategori Açıklaması:")
                        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryDescription)
                        @Html.HiddenFor(x => x.CategoryStatus)
                        <br />
                        <button class="btn btn-info">GÜNCELLE</button>
                    </div>
                }

            </div>
        </div>
        <div style="height: 100vh"></div>
        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
    </div>
</main>



